- messages.each do |message|
  - if message.body.present?
    .chat__room
      .chat__room__name
        = message.user.nickname
      .chat__room__date
        = message.created_at.to_s(:time)
      .chat__room__text
        = message.body
  - if message.image.present?
    .chat__room
      .chat__room__name
        = message.user.nickname
      .chat__room__date
        = message.created_at.to_s(:time)
      .chat__room__text
        = image_tag message.image
