= javascript_include_tag 'reload'
- messages.each do |message|
  .chat__group{ id: message.id }
    .chat__group__room
      .chat__group__room-name
        = message.user.nickname
      .chat__group__room-date
        = message.created_at.to_s(:time)
      .chat__group__room-text
        = message.body
        = image_tag message.image
