= render 'sideBar'

.chat
  .chat__bar
    .chat__bar__group
      = @group.name
    .chat__bar__edit
      = link_to 'EDIT', 'edit', id: "btn"
    .chat__bar__member
      MEMBER:
      - @group.users.each do |group|
        %i
          = "#{group.nickname}  "

  = render 'chatRoom', messages: @messages

.footer
  .footer__form
    = form_for @message, url: group_messages_path do |f|
      = f.text_field :body, placeholder: "Type your MESSAGE", class: 'message'
      = f.label :image do
        %i.fa.fa-picture-o
          = f.file_field :image, class: 'image'
      = f.submit 'SEND', id: 'submit'
